.container-navbar {
    background-color: #00c777;
    color: #FFFFFF;
    width: auto;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.user {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
}

 a .bx {
    color: #FFFFFF;
}

.sub-link {
    
    position: absolute;
    top: 64px;
    background-color: #ffffff;
    color: #333;
    padding: 5px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   
    display: none;
    z-index: 1000;
    transition: all 0.3s ease;
}


.sub-link.visible {
    display: block;
}

/* Style untuk link di dalam sub-link */
.sub-link a {
    text-decoration: none;
    color: #383838;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    display: block;
    transition: color 0.3s ease;
}

.sub-link a:hover {
    color: red;
}
